extends layout
mixin minitile(id, text, title, faIcon, colorClass)
  a(href='#', target='_self', title=title)
    div(id=id class=colorClass + ' tile')
      .tile-img
        i(class=faIcon + ' fa')
      .tile-name.text-center
        | #{text}
        
        
block content
  .container
    h1= translated
    .tiles-container
      .row
        .col-xs-12.col-sm-4
          a(href='#', title='Navigate to View Payment History')
            .next-payment.tile
              .text-right
                span.payment-amount= '$' + bitstamp.bid
                br
              .tile-name.bottom-left
                | Next payment
          .tile.another-tile
            h3 Another Tile
          .tile.last-payment
            h3 Number 3
        .col-xs-12.col-sm-4
          .tile.tile-full-height
            h3 Full Height
        .col-xs-12.col-sm-4.tiles-group
          .row
            .col-xs-12.col-sm-6
              +minitile('950', t("tile.create-ad"), 'Navigate somewhere!', 'fa-bolt', 'orange')
            .col-xs-12.col-sm-6
              +minitile('951', t("tile.buy-bitcoin"), 'Click to go to request doco', 'fa-bitcoin', 'green')
          .row
            .col-xs-12.col-sm-6
              +minitile('952', t("tile.contact-us"), 'Navigate somewhere!', 'fa-paper-plane-o', 'purple')
            .col-xs-12.col-sm-6
              +minitile('953', t("tile.sell-bitcoin"), 'Click to go to request doco', 'fa-bitcoin', 'orange')
          .row
            .col-xs-12.col-sm-6
              a(href='#', target='_self', title='Navigate to my profile')
                #950.upload-docs.tile
                  .tile-img
                  .tile-name.text-center
                    | My profile
            .col-xs-12.col-sm-6
              a(href='#', target='_self', title='Navigate to Request a Document')
                #965.request-doc.tile
                  .tile-img
                  .tile-name.text-center
                    | Request a Document

  // div.container
  //   div.row
  //     div.col-sm-6.col-md-4.col-md-offset-4
  //       #user
  //       h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
  //         div.signup-wall
  //           ul.user-details
  //             li Username ---> #{user.username}
  //             li Email    ---> #{user.email}
  //             li First Name ---> #{user.firstName} 
  //             li Last Name ---> #{user.lastName}
  //             a(href='/signout', class='text-center new-account') Sign Out